body
{
    background-position: center;
    background-size: cover;
}
.heading
{
    width: 100%;
    text-align: left;
    margin-bottom: 5px;
}
.heading h3 {
    display: inline;
    font-size: 22px;
}
.heading button
{
    float: right;
    border: 1px solid white;
}
.footer
{
    position: fixed;
    color: white;
    bottom: 0;
    width: 100%;
    background-color: grey;
    line-height: 1;
    text-align: center;
    font-weight:lighter;
}
.modal-body
{
    text-align: left;
}
canvas
{
    border-radius: 5px;
    box-shadow: 3px 3px 3px white;
    border: 2px solid white;
}